<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.ksh.board.dao.BoardDAO">

  <select id="getAllcount" resultType="int">
      select count(NUM) CNT from board
  </select>

  
<!--       <selecKey keyProperty="fileNo" resultType="int" order="BEFORE">  -->
<!--                   select nvl(max(FILENO),0)+1 fileNo  -->
<!--    <insert id="boardWrite" parameterType="bvo" > -->

<select id="getArticles" parameterType="hashmap" resultType="bvo">
    SELECT A.*                                                          
   FROM (SELECT ROWNUM RR, RBOARD.*                               
           FROM  (SELECT NUM, WRITER, SUBJECT, EMAIL, CONTENT,    
                         PASSWD, REG_DATE, READCNT, REF, RE_STEP, 
                         RE_LEVEL, ATTACHNM, FILENO, FILESIZE, ORGFILENM                      
                   FROM BOARD                                     
                   ORDER BY REF DESC, RE_STEP ASC) RBOARD) A
  <choose>
   <when test="num!=null and num!=0">                
      WHERE NUM = #{num}          
   </when>           
   <otherwise>
      <if test="start!=null and start!=0">                
         WHERE A.RR BETWEEN #{start} AND #{end}          
      </if>      
   </otherwise>
  </choose>        
</select>

<update id="updateReadCount" parameterType="hashmap">
   UPDATE BOARD 
      SET READCNT = READCNT+1
   WHERE NUM = #{num}
</update>

<select id="getNewNum" resultType="int">
   select nvl(max(num),0)+1 num from board
</select>

<insert id="boardWrite" parameterType="bvo" >
  <selectKey keyProperty="fileNo" resultType="int" order="BEFORE">
     SELECT NVL(MAX(FILENO),0)+1 fileNo FROM BOARD
  </selectKey>
  <choose>
  <when test="fileSize!=0">
    INSERT INTO BOARD(NUM, WRITER, SUBJECT, EMAIL, CONTENT, PASSWD, 
                  REG_DATE, READCNT, REF, RE_STEP, RE_LEVEL, ATTACHNM, FILENO,
                 FILESIZE,ORGFILENM)
        VALUES((SELECT NVL(MAX(num),0)+1 FROM BOARD),#{writer},#{subject},#{email},#{content},#{passwd},
             sysdate,0,
           <if test="ref!=0">
            #{ref},
           </if>
           <if test="ref==0">
                (SELECT NVL(MAX(num),0)+1 FROM BOARD),
           </if>
             #{re_step},#{re_level},#{attachNm},
             #{fileNo},#{fileSize},#{orgFileNm})

  </when>
  <otherwise>
         INSERT INTO 
        BOARD(NUM,WRITER,
              SUBJECT,EMAIL,
              CONTENT, PASSWD, 
              REG_DATE,READCNT, 
              REF,RE_STEP, RE_LEVEL) 
       VALUES((SELECT NVL(MAX(num),0)+1 FROM BOARD),#{writer},#{subject},#{email},
              #{content}, #{passwd}, sysdate, 0,
              <if test="ref!=0">
              #{ref},
              </if>
              <if test="ref==0"> 
              (select nvl(max(num),0)+1 from board),
              </if>
              #{re_step}, #{re_level}) 
  </otherwise>
  </choose>
</insert>

<update id="boardUpdate" parameterType="bvo">
   UPDATE BOARD SET 
           SUBJECT= #{subject}
          , EMAIL= #{email}
          , CONTENT= #{content}
          , PASSWD= #{passwd}
          <if test="fileNo!=null and fileSize>0 and orgFileNm!=null">
          , ATTACHNM= #{attachNm}
          , FILENO=#{fileNo}
          , FILESIZE=#{fileSize}
          , ORGFILENM=#{orgFileNm}
          </if>
           WHERE NUM = #{num}
</update>

<delete id="deletePro" parameterType="int">
   DELETE FROM BOARD WHERE NUM = #{num}
</delete>

</mapper>